body {
  background-color:white;
  font-family: palatino;
  font-weight: bold;
  color: black;
}
#big-title{
    width:800px;
    font-size: 18pt;
    margin: 10px 10px;
    margin-left: 30px;
    float:left;
}
.branch-warning{
    width: 200px;
    font-size: 15pt;
    position: absolute;
    right: 20px;
    top: 20px;
    color: red;
}
.map-container{
    width:810px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    float:left;
    background: black;
}
.hist-container{
    width:300px;
    /* margin-left:10px; */
    margin-right:10px;
    padding: 0px;
    border: 0px;
    float:left;
}
.table-container{
    width:300px;
    margin-right:10px;
    margin-bottom: -5px;
    font-size: 14pt;
    float:left;
}
.hist-tile {
    width:300px;
    height: 200px;
    padding:0px;
    margin:0px;
    border:0px;
    float:left
}
h2 {
    font-size: 18pt;
    color:black;
}

.colorbar-tile{
    margin-top:10px;
    width:10px;
    float:right;
}
.space{
    height:35px;
}
.top-right {
    position:relative;
    /* top: -180px; */
    top: -10px
    right: 30px;
    color: white;
}
h3 {
    font-size: 18pt;
    color:white;
}
.map-tile{
    width:775px;
    color:white;
    border:0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: -5px;
    padding:0px;
    overflow: hidden;
    float:left;
}
.colorbar-tile{
    margin-top:10px;
    width:10px;
    float:left;
}
.space{
    height:35px;
}


td, th {
    border: 2px solid #353131;
    text-align:left center;
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px
}
table{
    table-layout: fixed;
    width:300px;
    height:480px;
}
tr.ven {
    background-color: #cce5ff;
}
tr.bar {
    /* background-color: #ccffcc; */
    background-color: #fff5a8;
}
tr.rbc {
    background-color: #ffcccc;
}
tr.basic {
    background-color: #e0e0e0;
}
tr.title {
    color:white;
    background-color: #606060;
}
